body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#blockTable {
  margin: auto;
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    background: linear-gradient(90deg, #122149,transparent) #ffffff;
    min-height: 9%;
    transition: background-color 0.7s;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    overflow: hidden;
    top: 0;
    min-width: 100%;
}

#header:hover, #header:focus, footer:hover, footer:focus {
    /* background-color: black; */
    background-color: #122149;
}

#headerLogo {
  max-width: 10%;
}

#title {
  padding-right: 5%;
}

#blockInfo {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}